<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pawlished"
        tools:targetApi="31">
        <activity
            android:name=".RegistroClienteActivity"
            android:exported="false" />
        <activity
            android:name=".VerSolicitudesAceptadasActivity"
            android:exported="false" />
        <activity
            android:name=".VerSolicitudesActivity"
            android:exported="false" />
        <activity
            android:name=".VerPeluqueriasActivity"
            android:exported="false" />
        <activity
            android:name=".VerEstadoActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivityPeluqueria"
            android:exported="false" />
        <activity
            android:name=".MainActivityCliente"
            android:exported="false" />
        <activity
            android:name=".LoginPeluqueriaActivity"
            android:exported="false" />
        <activity
            android:name=".LoginClienteActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SolicitarCorteActivity" />
        <activity android:name=".ViewStateActivity" />
        <activity android:name=".ViewNearestActivity" />
    </application>

</manifest>